.home{
    text-align: center;
}
.display{
    font-size: 100px;
    margin-top: 50px;
    color: green;
}
.but{
    width: 120px;
    height: 30px;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 1.1rem;
}